@{
    ViewBag.Title = "Schedule";
}

<h2>London Busses Schedule at <b>@ViewData["StopName"]</b></h2>

@foreach (var p in Model)
{
    <p>@p</p>
}

<br />

<p>
    @Html.ActionLink("Choose new stop", "Index")
    
</p>
@using (Html.BeginForm("FindArrivalsAtBusStop", "Home"))
{
    <input type="hidden" id="stopName" name="stopName" value="@ViewData["StopName"]" />
    <input type="submit" value="Refresh" />
}